@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.main {
  width: 1330px;
  height: 2900px;
  background: rgb(243, 226, 199);
  background: -moz-linear-gradient(
    top,
    rgba(243, 226, 199, 1) 39%,
    rgba(182, 141, 76, 1) 95%,
    rgba(193, 158, 103, 1) 98%,
    rgba(193, 158, 103, 1) 100%,
    rgba(193, 158, 103, 1) 100%,
    rgba(182, 141, 76, 1) 100%,
    rgba(233, 212, 179, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(243, 226, 199, 1) 39%,
    rgba(182, 141, 76, 1) 95%,
    rgba(193, 158, 103, 1) 98%,
    rgba(193, 158, 103, 1) 100%,
    rgba(193, 158, 103, 1) 100%,
    rgba(182, 141, 76, 1) 100%,
    rgba(233, 212, 179, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(243, 226, 199, 1) 39%,
    rgba(182, 141, 76, 1) 95%,
    rgba(193, 158, 103, 1) 98%,
    rgba(193, 158, 103, 1) 100%,
    rgba(193, 158, 103, 1) 100%,
    rgba(182, 141, 76, 1) 100%,
    rgba(233, 212, 179, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 );
  font-family: Bebas Neue;
}
.head {
  width: 1330px;
  height: 60px;
  margin: 1px;
  background: rgb(243, 226, 199);
  background: -moz-linear-gradient(
    top,
    rgba(243, 226, 199, 1) 0%,
    rgba(182, 141, 76, 1) 35%,
    rgba(182, 141, 76, 1) 35%,
    rgba(193, 158, 103, 1) 48%,
    rgba(193, 158, 103, 1) 60%,
    rgba(193, 158, 103, 1) 75%,
    rgba(233, 212, 179, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(243, 226, 199, 1) 0%,
    rgba(182, 141, 76, 1) 35%,
    rgba(182, 141, 76, 1) 35%,
    rgba(193, 158, 103, 1) 48%,
    rgba(193, 158, 103, 1) 60%,
    rgba(193, 158, 103, 1) 75%,
    rgba(233, 212, 179, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(243, 226, 199, 1) 0%,
    rgba(182, 141, 76, 1) 35%,
    rgba(182, 141, 76, 1) 35%,
    rgba(193, 158, 103, 1) 48%,
    rgba(193, 158, 103, 1) 60%,
    rgba(193, 158, 103, 1) 75%,
    rgba(233, 212, 179, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 );
}
.buttonHeadOne {
  width: 100px;
  height: 45px;
}
.headButtonOne {
  width: 100px;
  height: 25px;
  margin: 5px;
  margin-left: 1200px;
  position: absolute;
}
.headButtonTwo {
  width: 100px;
  height: 25px;
  margin: 5px;
  margin-left: 1090px;
  position: absolute;
}
.buttonHeadTwo {
  width: 100px;
  height: 45px;
}
.headButtonThree {
  width: 100px;
  height: 25px;
  margin: 5px;
  margin-left: 980px;
  position: absolute;
}
.buttonHeadThree {
  width: 100px;
  height: 45px;
}
.baner {
  width: 1336.5px;
  height: 400px;
  margin: 1px;
}
.bgImgBaner {
  width: 1330px;
  height: 400px;
}
.productOne {
  width: 350px;
  height: 400px;
  margin: 5px;
  position: absolute;
  margin-left: 980px;
  font-family: Bebas Neue;
  font-size: 18px;
}
.productTwo {
  width: 350px;
  height: 400px;
  margin: 5px;
  margin-left: 480px;
  position: absolute;
  font-family: Bebas Neue;
  font-size: 18px;
}
.productThree {
  width: 350px;
  height: 400px;
  margin: 5px;
  position: absolute;
  font-family: Bebas Neue;
  font-size: 18px;
}
.exampleProduct {
  width: 1320px;
  height: 2000px;
  margin: 5px;
  margin-left: 15px;
  position: absolute;
  margin-top: 420px;
}
.exProdOne {
  width: 620px;
  height: 620px;
  margin: 5px;
  margin-top: 20px;
  margin-left: 20px;
  display: inline-flex;
  position: relative;
}
.exProdTwo {
  width: 620px;
  height: 620px;
  margin: 5px;
  margin-top: 20px;
  margin-left: 20px;
  display: inline-flex;
  position: relative;
}

.exProdThree {
  width: 620px;
  height: 620px;
  margin: 5px;
  margin-top: 20px;
  margin-left: 20px;
  display: inline-flex;
  position: relative;
}

.exProdFour {
  width: 620px;
  height: 620px;
  margin: 5px;
  margin-top: 20px;
  margin-left: 20px;
  display: inline-flex;
  position: relative;
}

.exProdFive {
  width: 620px;
  height: 620px;
  margin: 5px;
  margin-top: 20px;
  margin-left: 20px;
  display: inline-flex;
  position: relative;
}

.exProdSix {
  width: 620px;
  height: 620px;
  margin: 5px;
  margin-top: 20px;
  margin-left: 20px;
  display: inline-flex;
  position: relative;
}
.velPic {
  width: 620px;
  height: 620px;
}
h2 {
  text-shadow: 0px 0px 2px black;
}
/*стили для  планшета с разрещшением 1024*1366*/ /*для  Ipad Pro*/
@media (max-width: 1024px) and (max-height: 1366px) {
  .main {
    width: 1024px;
    height: 1366px;
  }
  .head {
    width: 1024px;
    height: 60px;
    margin: 1px;
  }
  .headButtonOne {
    width: 100px;
    height: 25px;
    margin: 5px;
    margin-left: 680px;
    position: absolute;
  }
  .headButtonTwo {
    width: 100px;
    height: 25px;
    margin: 5px;
    margin-left: 785px;
    position: absolute;
  }
  .headButtonThree {
    width: 100px;
    height: 25px;
    margin: 5px;
    margin-left: 895px;
    position: absolute;
  }
  .baner {
    width: 1024px;
    height: 400px;
    margin: 1px;
  }
  .bgImgBaner {
    width: 1020px;
    height: 400px;
  }
  .productOne {
    width: 1024px;
    height: 120px;
    margin: 0px 250px 0px 0px;
    position: absolute;
    font-family: Bebas Neue;
    font-size: 12px;
    text-align: center;
  }
  .productTwo {
    width: 1024px;
    height: 120px;
    margin: 225px 150px 0px 0px;
    position: absolute;
    font-family: Bebas Neue;
    font-size: 12px;
    text-align: center;
  }
  .productThree {
    width: 1024px;
    height: 220px;
    margin: 425px 450px 0px 0px;
    position: absolute;
    font-family: Bebas Neue;
    font-size: 12px;
    text-align: center;
  }
  .exampleProduct {
    width: 1024px;
    height: 200px;
    margin-top: 620px;
  }
  .velPic {
    width: 320px;
    height: 320px;
    margin-top: 5px;
  }
  .exProdTwo {
    width: 320px;
    height: 320px;
  }
  .exProdThree {
    width: 320px;
    height: 320px;
  }
  .exProdFour {
    width: 320px;
    height: 320px;
  }
  .exProdFive {
    width: 320px;
    height: 320px;
  }
  .exProdSix {
    width: 320px;
    height: 320px;
  }
  .exProdOne {
    width: 320px;
    height: 320px;
  }
}
/*стили для  планшета с разрещшением 375*812*/ /*для IhoneX*/
@media (max-width: 375px) and (max-height: 812px) {
  .main {
    width: 375px;
    height: 812px;
  }
  .head {
    width: 375px;
    height: 200px;
    margin: 1px;
  }
  .buttonHeadOne {
    width: 300px;
    height: 45px;
  }
  .buttonHeadTwo {
    width: 300px;
    height: 45px;
  }
  .buttonHeadThree {
    width: 300px;
    height: 45px;
  }
  .headButtonOne {
    width: 100px;
    height: 25px;
    margin: 5px;
    margin-left: 50px;

    position: absolute;
  }
  .headButtonTwo {
    width: 100px;
    height: 25px;
    margin: 5px;
    margin-left: 50px;
    margin-top: 55px;
    position: absolute;
  }
  .headButtonThree {
    width: 100px;
    height: 25px;
    margin: 5px;
    margin-left: 50px;
    margin-top: 105px;
    position: absolute;
  }
  .baner {
    width: 375px;
    height: 400px;
    margin: 1px;
  }
  .bgImgBaner {
    width: 375px;
    height: 400px;
  }
  .productOne {
    width: 375px;
    height: 120px;
    margin: 0px 250px 0px 0px;
    position: absolute;
    font-family: Bebas Neue;
    font-size: 12px;
    text-align: center;
  }
  .productTwo {
    width: 375px;
    height: 120px;
    margin: 225px 150px 0px 0px;
    position: absolute;
    font-family: Bebas Neue;
    font-size: 12px;
    text-align: center;
  }
  .productThree {
    width: 375px;
    height: 220px;
    margin: 425px 450px 0px 0px;
    position: absolute;
    font-family: Bebas Neue;
    font-size: 12px;
    text-align: center;
  }
  .exampleProduct {
    width: 1024px;
    height: 200px;
    margin-top: 620px;
  }
  .velPic {
    width: 320px;
    height: 320px;
    margin-top: 5px;
    display: flex;
  }
  .exProdTwo {
    width: 320px;
    height: 320px;
    display: flex;
  }
  .exProdThree {
    width: 320px;
    height: 320px;
    display: flex;
  }
  .exProdFour {
    width: 320px;
    height: 320px;
    display: flex;
  }
  .exProdFive {
    width: 320px;
    height: 320px;
    display: flex;
  }
  .exProdSix {
    width: 320px;
    height: 320px;
    display: flex;
  }
  .exProdOne {
    width: 320px;
    height: 320px;
    display: flex;
  }
}
